@charset "utf-8";
/*     开始：全局样式 */
body{
	min-width: 500px;
}
body, button, input, select, textarea {
    font: 14px "Microsoft YaHei", Helvetica, Arial, Lucida Grande, Tahoma, sans-serif;
    color: #333; 
    background: #f5f5f5;
    margin: 0;
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;vertical-align:middle}
a{
	text-decoration:none;
	color:#444;
}
a:hover{color:#2f889a}
ul,li,ol{list-style:none}
em,i{font-style:normal}
em{color:red}
iframe{display:block}
fieldset{border:1px solid #c0c0c0;margin:0 2px 18px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
s{text-decoration:none;}
h2{font-family: "microsoft yahei"; font-size: 20px;}
li{
	display: list-item;
    text-align: -webkit-match-parent;  
}
/*     结束：全局样式 */

/* 开始：顶部*/
.top{
	height: 40px;background-color: #36a9e1;position: relative;z-index: 2;
}
.top li{
	float: left;
}
.top .fd{
	width: 170px;float: left;height: 38px;cursor:pointer;
	font-size:20px;
	color: white;
	margin-left: -20px;
	line-height: 40px;
}
.top .td{
	width: 170px;float: left;height: 38px;display: none;cursor:pointer;
	border: 1px solid rgb(80, 144, 167);
	font-size:20px;
    color: white;
    background-color: rgb(30, 143, 198);
    margin-left: -20px;
    line-height: 40px;
}
.top .fod{
	float: right;margin: 5px 50px 0px 0px;
}
.topPic{
	display: table-cell;
}
.topPic img{
	border-radius: 50em;
    height: 30px;
    width: 30px;
}
.topPic .tli{
	line-height: 30px;color: white;margin-left: 20px;
}
/* 结束：顶部*/

/* 开始：特定样式*/
.menu-box {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 1px #e4e6eb;
    -moz-box-shadow: 0 1px 0 1px #e4e6eb;
    box-shadow: 0 1px 0 1px #e4e6eb;
    overflow: hidden;
}
.menuBox {
    background: #fff;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #ddd;
    transition-duration: .5s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 0;
}
/* 结束：特定样式*/

/* 开始：左边菜单*/
#centerPlace{
	height: 100%;position: relative;
}
#leftMenu{
   	width: 150px;height: 100%;background-color: #383e4b;z-index: 1;overflow: hidden;position:absolute;
}
#leftMenu .fd{
   	width: 170px;height: 100%;overflow-x: hidden;overflow-y: auto;
}
#leftMenu .wmenu{
   	color: white;list-style: none;width: 100%;margin-left: -60px;margin-top: 20px;
}
#leftMenu .wmenu li{
   	width:160px;line-height: 40px;
}
#leftMenu .wmenu li a:HOVER {
	background-color: #2d323d;
}
#leftMenu .wmenu li a label{
    position: relative;
    float:left;
    margin-left: 10px;
    font-size: 12px;
    background-color: white;
    color: black;
    height: 15px;
    line-height: 15px;
    margin-top: 12px;
    width: 10px;
    border-radius: 0px 6px 6px 0px;
    display: none;	
}
#leftMenu a{
	text-decoration:none;
	color:white;
	width: 160px;
   	display: block;
   	height: 40px;
}
.nnum1i{
	margin-right: 10px;line-height: 40px;
	float: left;
    margin-left: 25px;
}
.nnum2i{
	margin-right: 10px;line-height: 40px;
	float: left;
	margin-left: 25px;
}
.menuName{
	float: left;
}
.nmenu{
	margin-left: -30px;
	overflow: hidden;
	display: none;
	height: 0px;
}
.nnum{
	-webkit-border-radius: 2px 0 0 2px;-moz-border-radius: 2px 0 0 2px;border-radius: 2px 0 0 2px;position: relative;float:right;background: #f5f5f5;color: #383e4b;height: 20px;line-height: 20px;width: 20px;margin-top: 10px;
}
.nnum1{
	margin-left: -20px;
}

/* 结束：左边菜单*/

/* 开始：右边正文*/
#rightContext{
	background-color: #f5f5f5;margin-left: 170px;
}
#rightContext .fd{
	width: 500px;height:500px; margin-left: 180px;background-color: white;
}
#rightContext .fd .fd{
	width: 200px;height: 200px;background-color: gray;
}
/* 结束：右边正文*/

/* 开始：底部  */
.aFootBefore{
	clear:both;
	height: 20px;
	display: block;
}
.aBootomFoot {
    bottom: 0;
}
.aFootTotal{
	height: 80px; background-color: #383e4b;width: 100%;position: absolute;z-index: 1;
	background: #383e4b;
    color: #fff;
    margin: 0!important;
}
.aFootTotal .t1{
	margin-top: 20px;	
}	
.aFootTotal span{
	font-family: cursive
}

/* 结束：底部  */

/* 开始：表格样式 */
.cTable{
    width: 100%;
}
.cTable tr{
	cursor: default;
}
.cTable th, .cTable td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    display: table-cell;
}
 .cTable td {
    border-top: 1px solid #ddd;
 }
 .cTable tbody tr:hover{
    background-color: rgb(255, 255, 204) !important;
 }
/* 结束：表格样式 */

.btnStyle{
   display: table-cell !important;background: #67c2ef;color: #fff;padding: 4px 0;width: 36px;display: inline-block;text-align: center;margin: -10px 20px -10px -20px;
}
.barAreaDiv{
	padding-top: 10px;
}
.barAreaDiv .barTopw{
	background: #36a9e1;color: #fff;font-size: 16px;overflow: hidden;
}
.barAreaDiv .barTopw .barRightDiv{
	float: right;height: 40px;
}
.barAreaDiv .barTopw .barRightBtn{
	background: #1e8fc6;color: #fff;padding: 10px 0;width: 36px;display: inline-block !important;text-align: center;line-height: 22px;
}
.barAreaDiv .barTopw .barLeftDiv{
	float: left;padding: 10px 0;margin: 0 0 0 20px;font-size: 16px;
}
.barAreaDiv .barTopw .barLeftDiv .leftLogo{
	background: #1e8fc6;color: #fff;padding: 12px 0;width: 36px;display: inline-block;text-align: center;margin: -10px 20px -10px -20px;
}
.barAreaDiv .barAreaContextDiv{
	background-color: white;padding: 10px;
}


/*  自定义弹出框开始 */
.custom-customModel{
    position: fixed;top: 5%;left: 20%;z-index: 1050;width: 576px;background-color: #fff;border: 1px solid rgba(0,0,0,0.3);border-radius: 6px;box-shadow: 0 3px 7px rgba(0,0,0,0.3);background-clip: padding-box;
}
/*  自定义弹出框头部 */
.custom-customModel-header{
    padding: 4px 15px;border-bottom: 1px solid #eee;
}
.custom-customModel-header-close{
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    margin-right: -12px;
}
/*  自定义弹出框中部 */
.custom-customModel-body{
    height: 370px;
}
/*  自定义弹出框底部 */
.custom-customModel-bottom{
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 1px 0 #fff;
}

.custom-customModel-btnSave{
    border: 0;
    border-radius: 2px;
    width: 50px;
    text-shadow: none;
    background: #36a9e1;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
}
.custom-customModel-btnCancel{
    border: 0;
    border-radius: 2px;
    width: 50px;
    text-shadow: none;
    background: #d6d9e0;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
}

#custom-background{
    position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;background-color: #000;opacity: .8;
}
/*  自定义弹出框结束 */
.btnStyle{
  display: table-cell !important;background: #67c2ef;color: #fff;padding: 4px 0;width: 36px;display: inline-block;text-align: center;margin: -10px 20px -10px -20px;
}
.menuActive{
	background: #2d323d;
}