.customPage a{
	background: #fff;
	width: 20%;
	z-index: 999;
	border-bottom: 1px solid #ddd;
	transition-duration: .5s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin: 0;
	display: block;
	float: left;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.selectIndex{
	background-color: #efefef;
}
.unablest{
	color: #efefef;
}