.shouye{
	margin-left: -28px;
}
.shouye a{
	background: url('../images/navigateTitle.png') no-repeat;
	width: 113px;
	height: 32px;
	display: inline-block;
	background-position: 14px -38px;
}
.shouye a:hover {
	background-position-y:-6px;
} 

.picwall{
	margin-left: -6px;
}
.picwall a{
	background: url('../images/navigateTitle.png') no-repeat;width: 113px;height: 32px;display: inline-block;background-position: -90px -38px;
}
 
.picwall a:hover {
	background-position-y:-6px;
}
.fastSearch{
	margin-left: 8px;
}
.fastSearch a{
	background: url('../images/navigateTitle.png') no-repeat;width: 113px;height: 32px;display: inline-block;background-position: -210px -38px;
}
.fastSearch a:hover {
	background-position-y:-6px;
}
.techup{
	margin-left: 10px;
}
.techup a{
	background: url('../images/navigateTitle.png') no-repeat;width: 113px;height: 32px;display: inline-block;background-position: -336px -38px;
}
.techup a:hover {
	background-position-y:-6px;
}
.webinit{
	margin-left: 10px;
}
.webinit a{
	background: url('../images/navigateTitle.png') no-repeat;width: 113px;height: 32px;display: inline-block;background-position: -458px -38px;
}
.webinit a:hover {
	background-position-y:-6px;
}
.aboutmeinit{
	margin-left: 10px;
}
.aboutmeinit a{
	background: url('../images/navigateTitle.png') no-repeat;width: 113px;height: 32px;display: inline-block;background-position: -580px -38px;
}
.aboutmeinit a:hover {
	background-position-y:-6px;
}
.hideTitle{
	display: none;
}
.abothSide{
	background: url('../images/daohangbian.png') repeat-x;height: 110px;width: 100%;
}
.atotalDiv{
	width: 914px;
}