@charset "utf-8";

body {
	min-width: 320px;
	font: 400 12px/20px "Microsoft YaHei";
	background: #f7f7f7;
}
blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, th, ul {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration:none;
	color:#444;
}
a:hover{color:#2f889a}
.hide-menu{
	font-size: 14px;
	padding-top: .3rem;
	height: 26px;
	width: 40px;
	position: fixed;
	bottom: 0px;
	background: #B1AAAA;
	border-top: 1px solid #e6e6e6;
	z-index: 2;
	left: -18px;
}
.bottom-menu{
	padding-top: .3rem;
	height: 3rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #f9f9f9;
	border-top: 1px solid #e6e6e6;
	z-index: 2;
	left: -376px;
}

.bottom-menu li {
	width: 25%;
	float: left;
}
.bottom-menu li .color-red, .bottom-menu li:active .bottom-menu-title {
	color: #d43836;
}
.bottom-menu li .bottom-menu-bidDetail-red {
	background-position: 12px -60px;	
}
.bottom-menu li:active .bottom-menu-bidDetail {
	background-position: 0 -40px;
}
.bottom-menu li .bottom-menu-icon {
	zoom: 0.35;
	width: 78px;
	height: 60px;
	position: relative;
	margin: 5px auto 0;
	background-image: url(../../wap/images/tip.gif);
}
.bottom-menu li .bottom-menu-title {
	color: #797979;
	font-size: 1rem;
	width: 100%;
	text-align: center;
	display: inline-block;
}
.bottom-menu-safeCertify{
	background-position: 12px -234px;
}
.bottom-menu-myAccount{
	background-position: 12px -118px;
}
.bottom-menu-investing{
	background-position: 12px -170px;
}
.textContext{
	word-break: break-all
}
.menu-box {
    background: #fff;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #ddd;
    transition-duration: .5s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 0;
}

.header{
 	background-attachment:scroll;
	background-clip:border-box;
	background-color:white;
	background-image:none;
	background-origin:padding-box;
	background-size:auto;
	display:block;
	font-family:Helvetica, sans-serif;
	font-size:13px;
	height:30px;
	left:0px;
	line-height:13px;
	position:fixed;
	top:0px;
	z-index:1000;
}
.header div{
	font-family:Helvetica, sans-serif;
	font-size:13px;
}
.topleft{
	float: left;
    width: 110px;
    height: 30px;
    line-height: 34px;
    margin-left: 10px;
}
.topright{
	float: right;
    width: 50px;
    height: 30px;
    line-height: 34px;
    font-size: 12px;
}
.topright a{
    font-size: 12px;
}
.toTop{
	margin-top: 40px;
}
em{
	color:red;
	font: 400 13px/20px "Microsoft YaHei";
}

.loadingDiv1{
	height: 60px;margin-top: -30px;
}

.loadingDiv2{
	padding-top: 40px;
}
.loadingDiv2 img{
	width: 10px;height: 10px;
}

.gotop{
 	background-attachment:scroll;
	background-clip:border-box;
	background-color:rgba(255, 255, 255, 0.901961);
	background-image:none;
	background-origin:padding-box;
	background-size:auto;
	border-bottom-color:rgb(204, 204, 204);
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgb(204, 204, 204);
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:rgb(204, 204, 204);
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:rgb(204, 204, 204);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-top-style:solid;
	border-top-width:1px;
	bottom:109px;
	color:rgb(102, 102, 102);
	display:block;
	font-family:Helvetica, sans-serif;
	font-size:13px;
	height:38px;
	line-height:38px;
	opacity:1;
	overflow-x:hidden;
	overflow-y:hidden;
	position:fixed;
	right:9px;
	text-align:center;
	transform:matrix(1, 0, 0, 1, 0, 0);
	transform-origin:0px 0px;
	width:38px;
}
.layout-icons_go-top{
 	color:rgb(102, 102, 102);
	display:inline;
	font-family:baikeFont_layout;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	height:auto;
	line-height:38px;
	text-align:center;
	width:auto;
 	}
.catalog-button{
 	background-attachment:scroll;
	background-clip:border-box;
	background-color:rgba(69, 157, 245, 0.901961);
	background-image:none;
	background-origin:padding-box;
	background-size:auto;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	bottom:64px;
	color:rgb(255, 255, 255);
	display:block;
	font-family:Helvetica, sans-serif;
	font-size:13px;
	height:40px;
	line-height:40px;
	position:fixed;
	right:9px;
	text-align:center;
	width:40px;
	z-index:999;
}
.bottomDiv{
	clear:both; display: block;height: 80px;
}