@charset "utf-8";
body, button, input, select, textarea {
    font: 1.1rem "Microsoft YaHei", Helvetica, Arial, Lucida Grande, Tahoma, sans-serif;
    color: #444; 
    line-height: 140%;
    background: #f1f1f1;
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-family: inherit;
    font-size: 1.1rem;
    font-style: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
img{
 	width: 300px;
   	height: 200px;
}
.docView1{
	font-size: 1.2rem;padding-top: 20px;margin-top: 10px;
}
.docView2{
	font-size: 0.8rem;margin-top: 5px;
}
.docView3{
	font-size: 0.8rem;line-height: 100%;
}
.docView4{
	width: 320px;margin-top:20px; text-align:justify; text-justify:inter-ideograph;
}
.docView4 p img{
	margin-left: 10px;
}
.docView5{
	margin-top: 50px;width: 330px;margin-left: 20px;
}
.docView6{
	font-size: 0.6rem;
}
.docView6 a{
	font-size: 0.8rem;
    color: #b30404;
}
.docView7{
	height: 18px;
}
.docView8{
	font-size: 0.6rem;height: 30px;
}
.docView9{
	font-size: 0.7rem
}
.docView1{
	
}
.docView1{
	
}
.docView1{
	
}
pre{
    overflow: auto;
    box-sizing: border-box;
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 0.5em;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1.3;
    word-break: break-all;
    word-wrap: break-all;
    border: none;
    border-radius: 3px;
    max-height: 35em;
    position: relative;
    background-color: #efefef;
}
